:root{
    --red-color: #ff5050 ;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.title{
    color: var(--red-color);
}
/* start scroll to top */
.scroll-top{
    background-color: var(--red-color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
.top{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-top:hover{
    background-color: black;
    color: white;
}
/* end scroll to top */

/* start navbar */
.navbar{
    background-color: white;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}
.navbar-brand{
    color: var(--red-color);
    font-size: 25px;
}
.navbar-brand:hover{
    color: var(--red-color);
}
.navbar .nav-link{
    color: black;
    font-size: 17px;
}
.navbar .nav-link:hover{
    color: var(--red-color);
}
.navbar .nav-link.active{
    color: var(--red-color);
}
/* end navbar */

/* start landing */
.landing{
    height: 500px;
}
.landing img{
    height: 500px;
    object-fit: cover;
}
.carousel-caption{
    height: 70%;
    z-index: 2;
}
.carousel-item{
    position: relative;
}
.carousel-item::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* z-index: -2; */
}
.carousel-control-prev .prev-icon,
.carousel-control-next .next-icon{
    color: white;
    font-size: 40px;
}
.heading-one{
    animation-name: heading;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    /* animation-delay: 1s; */
}
@keyframes heading{
    0%{
        transform: translatey(-200px);
    }
}
.paragraph-one{
    animation-name: Paragraph;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}
@keyframes Paragraph{
    0%{
        transform: translatex(-1200px);
    }
}
/* end landing */

/* start about */
.about{
    margin-top: 30px;
}
.img-about img{
    border-radius: 5px;
    border-bottom-left-radius: 50px;
    margin-bottom: 30px;
}
.img-about img{
    box-shadow:
      1px 1px 0px 0 rgba(255, 80, 80,0.9),
      2px 2px 0px 0 rgba(255, 80, 80,0.8),
      3px 3px 0px 0 rgba(255, 80, 80,0.7),
      4px 4px 0px 0 rgba(255, 80, 80,0.6),
      5px 5px 0px 0 rgba(255, 80, 80,0.5),
      6px 6px 0px 0 rgba(255, 80, 80,0.4),
      7px 7px 0px 0 rgba(255, 80, 80,0.3),
      8px 8px 0px 0 rgba(255, 80, 80,0.2),
      9px 9px 0px 0 rgba(255, 80, 80,0.1),
      10px 10px 0px 0 rgba(255, 80, 80,0.1),
      10px 10px 30px 0 rgba(0,0,0,0.1);
}
.about p{
    text-align: justify;
    margin: 20px 0;
}
.check{
    width: 18px;
    height: 18px;
    background-color: var(--red-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .parg-check{
    font-size: 15px;
    font-weight: 700;
}
.icon a{
    color: gray;
}
.icon a:hover{
    color: var(--red-color);
}
/* end about */

/* start services */
.services .card{
    border: none;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    transition: 0.5s ease;
    margin-bottom: 20px;
    color: gray;
}
.card p{
    font-size: 15px;
}
.services .card:hover{
    background-color: var(--red-color);
    color: white;
}
.services .card:hover .icon-card{
    color: white;
}
.services .icon-card{
    font-size: 30px;
    color: var(--red-color);
}
/* end services */

/* start client */
.client .owl-prev,
.client .owl-next{
    display: none !important;
}
.card-company{
    margin: 10px;
}
.card-company:hover{
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
}
/* end client */

/* start effect */
.effect{
    background-image: url(../photo/bg16.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.effect::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.effect h6{
    color: var(--red-color);
}
.effect .container{
    color: white;
    z-index: 2;
}
.effect p{
    max-width: 800px;
}
/* end effect */

/* start Testimonials */
.Testimonials{
    background-color: #EEEE;
}
.Testimonials .owl-carousel .owl-nav button.owl-prev,
.Testimonials .owl-carousel .owl-nav button.owl-next{
    font-size: 30px;
    color: black;
}
.Testimonials .owl-carousel .owl-nav button.owl-prev:hover,
.Testimonials .owl-carousel .owl-nav button.owl-next:hover{
    background-color: transparent;
    color: var(--red-color);
}
.Testimonials .image-client{
    border-radius: 50%;
    border: 3px solid var(--red-color);
}
.card-client span{
    color: var(--red-color);
}
.card-client .information p{
    max-width: 800px;
}
/* end Testimonials */

/* start contact */
.contact hr{
    color: var(--red-color);
}
.icon-contact{
    color: var(--red-color);
    margin-right: 10px;
    margin-bottom: 15px;
}
.link-contact{
    color: black;
}
.fa-clock{
    color: var(--red-color);
}
.form-contact input{
    border: 1px solid gainsboro;
}
.form-contact input:focus,
.form-contact textarea:focus{
    border: 1px solid var(--red-color);
    outline: none;
}
.form-contact textarea{
    border: 1px solid gainsboro;
    height: 200px;
}
.form-contact .btn-submit{
    background-color: var(--red-color);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: 0.5s ease;
}
.form-contact .btn-submit:hover{
    background-color: transparent;
    border: 2px solid var(--red-color);
    color: var(--red-color);
}
.contact a:hover{
    color: var(--red-color);
}

/* responsive */

@media (max-width:768px) {
    .contact-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .about .row{
        display: flex;
        flex-direction: column-reverse;
    }
}
/* end contact */

/* start footer */
.footer{
    background-color: #18252F;
}
.footer .icon a{
    color: white;
}
.footer .icon a:hover{
    color: var(--red-color);
}
hr{
    color: white;
}
.copyright{
    font-size: 12px;
}
/* end footer */